body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Custom scrollbar for list view */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
